user: ai # User to create on the system
pwd: test # Password for user

host_mount: false # Mount host ../ at client ~/sytup, see README.md

user_repo: https://github.com/gregerspoulsen/sys-setup-gp.git

user_vars: # Extra variables to pass to setup (override vars in user repo):
  fullname: "Airborne Sytup"
  email: "sytup@airborneinstruments.dk"
